body {
  font-family: sans-serif;
  background: #bfb1a1;
  margin: 0;
  padding: 0;
  text-align: center;
}
header {
  background: #222;
  color: white;
  padding: 20px;
}
.project {
  margin: 20px;
}
.project img {
  width: 80%;
  max-width: 300px;
  border-radius: 10px;
  transition: transform 0.3s;
}
.project img:hover {
  transform: scale(1.05);
}
footer {
  background: #ddd;
  padding: 10px;
  margin-top: 20px;
}
